@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
  height: 28px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background-color: #e5e7eb;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

@layer utilities {
  .grid-areas-custom {
    display: grid;
    grid-template-areas:
      "topLeft topRight"
      "topLeft bottomRight"
      "bottom bottom";
    grid-template-rows: repeat(3, auto);
  }

  .grid-area-topLeft {
    grid-area: topLeft;
  }

  .grid-area-topRight {
    grid-area: topRight;
  }

  .grid-area-bottomRight {
    grid-area: bottomRight;
  }

  .grid-area-bottom {
    grid-area: bottom;
  }
}

/* 이게 없으면 리로드 할 때 UI가 흔들립니다. */
html {
  overflow-y: scroll;
}

/* 스피너 제거 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
